@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');
* {
    font-family: 'Noto Sans', sans-serif;
    font-weight: bold;
}

.hover {
    cursor: pointer;
}

body {
    margin: 0;
}

#side {
    width: 300px;
    height: 100%;
    position: fixed;
    z-index: 1;
    background-color: green;
}

#sidebar {
    height: 100%;
    background-color: white;
    box-shadow: 0 0 10px rgb(104, 104, 104);
}

nav {
    height: 100px;
    padding: 10px 20px;
}

a {
    text-decoration: none;
}

.nav-items {
    height: 30px;
    width: 150px;
    margin: 35px 20px;
    background-color: rgba(255, 255, 255, 0.815);
    display: inline-block;
    border-radius: 15px;
    box-shadow: 0 0 10px rgb(104, 104, 104);
    color: rgb(99, 99, 99);
    line-height: 30px;
    text-align: center;
}

#main {
    width: calc(100% - 300px);
    min-height: 100vh;
    position: relative;
    left: 300px;
}