* {
    margin: 0;
}

body {
    background-color: beige;
}

#title {
    height: 100px;
    background-color: rgb(219, 132, 149);
    position: relative;
}

#title>* {
    padding-left: 10px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    float: left;
}

#title>*:last-child::after {
    display: block;
    clear: both;
    content: "";
}

#title>h1 {
    color: white;
}

#navbar {
    height: 60px;
    position: relative;
    background-color: rgb(179, 42, 69);
    display: flex;
    justify-content: space-evenly;
}

#navbar>* {
    height: 60%;
    width: 15%;
    margin: 0 50px 0 50px;
    position: relative;
    background-color: white;
    border: 2px solid rgb(77, 0, 16);
    border-radius: 10px;
    text-align: center;
}

#navbar * {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

#navbar>*:hover {
    background-color: rgb(158, 158, 158);
    cursor: pointer;
}

#search {
    height: 50px;
    width: 70%;
    padding: 0 50px;
    margin: 80px auto;
    display: block;
    background-color: rgb(241, 241, 231);
    border: 3px solid rgba(220, 20, 60, 0.747);
    border-radius: 10px;
    color: gray;
    font-size: 24px;
}

#data-structure-list {
    padding: 0 15% 100px 15%;
}

.list-contents {
    height: 100px;
    width: 70%;
    margin: auto;
    position: relative;
    background-color: rgb(87, 159, 226);
    border: 3px solid rgba(0, 0, 255, 0.445);
    border-radius: 10px;
}

.list-contents:hover {
    background-color: rgb(54, 98, 139);
    cursor: pointer;
}

.list-contents>div {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    color: white;
    font-size: 36px;
    text-align: center;
}

.list-contents:not(:last-child) {
    margin-bottom: 50px;
}

#fallback {
    color: red;
    font-size: 36px;
    font-weight: bold;
    font-style: italic;
}